@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  --leaf-green: #5c8355;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

#content {
  position: relative;
  height: 100vh;
}

#content > header,
#content > footer {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  color: snow;
  background-color: rgba(0, 0, 0, 0.5);
}

#content > header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  top: 25%;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
}

#content > footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 0.5rem;
  text-align: center;
}

#content > img {
  height: 100%;
  width: 28rem ;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

#quote {
  padding: 2rem;
  margin: 0;
  font-size: 1.3rem;
  width: 45ch;
}

#quote > p {
  font-size: 1rem;
}

#form-inputs {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: snow;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0 -1px 1px lightgrey, 0 5px 5px lightgrey;
}

#form-inputs > p {
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
}

#form-inputs > div {
  display: flex;
  gap: 3rem;
}

#form-inputs label {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  color: rgb(63, 63, 63);
}

#form-inputs input {
  width: 16rem;
  height: 1.3rem;
  border: 1px lightgray solid;
  border-radius: 3px;
}

a {
  position: relative;
  color: var(--leaf-green);
  text-decoration: none;
}

a::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--leaf-green);
  width: 0%;
  transition: width .1s;
  pointer-events: none;
}

a:hover::after {
  width: 100%;
}

