@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  --leaf-green: #5c8355;
  --vertical-padding: 1.5rem;
  --horizontal-padding: 2rem;
  --image-url: url("https://images.unsplash.com/photo-1531292039036-7720ff2dadd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

#left-section,
#right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#left-section {
  position: relative;
  background-image: var(--image-url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
}

#right-section {
  width: 60%;
  background-color: white;
}

header,
footer {
  position: absolute;
  display: flex;
  width: 100%;
  color: snow;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
  top: 30%;
}

footer {
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
  bottom: 0;
}

#quote {
  padding: var(--vertical-padding) var(--horizontal-padding);
  font-size: 1.3rem;
  width: 80%;
}

#quote > p {
  font-size: 1rem;
  margin-top: 1rem;
}

#form {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  background-color: snow;
  width: 100%;
  padding: var(--vertical-padding) var(--horizontal-padding);
  box-shadow: 0 -1px 1px lightgrey, 0 5px 5px lightgrey;
}

#form-title {
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
  width: 100%;
}

.input {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  color: rgb(63, 63, 63);
}

.error-message {
  position: absolute;
  top: 100%;
  font-size: 0.5rem;
  color: red;
  transform: translateY(-100%);
  opacity: 0;
  z-index: 0;
  transition: all 0.2s ease;
}

input {
  flex: 1;
  border: 1px lightgray solid;
  border-radius: 3px;
  transition: border-color ease 0.2s, box-shadow ease 0.2s;
  z-index: 1;
}

input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 2px 2px 2px lightgrey;
}

input:not([type="password"]):valid {
  border-color: var(--leaf-green);
}

#form .invalid {
  border-color: red;
}

#form input.invalid:placeholder-shown ~ .empty-error {
  transform: translateY(0);
  opacity: 1;
}

#form input.invalid:not(:placeholder-shown) ~ .invalid-input {
  transform: translateY(0);
  opacity: 1;
}

#buttons {
  padding: var(--vertical-padding) var(--horizontal-padding);
}

#buttons #sign-up {
  padding: 0.7rem 1.5rem;
  background-color: var(--leaf-green);
  color: snow;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgrey;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#buttons #sign-up:hover {
  background-color: #435f3e;
}

#buttons #log-in {
  font-size: 0.8rem;
}

a {
  position: relative;
  color: var(--leaf-green);
  text-decoration: none;
}

a::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--leaf-green);
  width: 0%;
  transition: width .1s;
  pointer-events: none;
}

a:hover::after {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  body {
    position: relative;
    flex-flow: column nowrap;
    padding-bottom: 4.5rem;
    background-image: var(--image-url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #left-section {
    height: 15vh;
    width: 100vw;
    position: static;
    background-image: none;
  }

  header {
    position: static;
    height: 100%;
  }

  footer {
    height: 4.5rem;
    justify-content: center;
    background-color: none;
  }

  #right-section {
    width: 100vw;
    justify-content: flex-start;
  }

  #quote {
    padding: 1rem var(--horizontal-padding);
  }
}

@media only screen and (max-width: 600px) {
  body {
    text-align: center;
  }

  #quote {
    width: 100%;
    padding: 1rem auto;
  }

  #form {
    justify-content: center;
  }

  .input {
    width: 90%;
  }
}