@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  --leaf-green: #5c8355;
  --input-height: 2.5rem;
  --input-vertical-gap: 1.5rem;
  --standard-padding: 2rem;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

#left-section,
#right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#left-section {
  background-image: url("https://images.unsplash.com/photo-1531292039036-7720ff2dadd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 40vw;
}

#right-section {
  width: 60vw;
}

#left-section > header,
#left-section > footer {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  color: snow;
  background-color: rgba(0, 0, 0, 0.5);
}

#left-section > header {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
  margin-top: 30%;
  margin-bottom: auto;
}

#left-section > footer {
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
}

#left-section > img {
  height: 100%;
  width: 28rem ;
  display: block;
}

#quote {
  padding: var(--standard-padding);
  margin: 0;
  font-size: 1.3rem;
  width: min(80%, 45ch);
}

#quote > p {
  font-size: 1rem;
}

#form {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  background-color: snow;
  width: 100%;
  padding: var(--input-vertical-gap) 2rem;
  box-shadow: 0 -1px 1px lightgrey, 0 5px 5px lightgrey;
}

#form-title {
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
  width: 100%;
}

.input {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  color: rgb(63, 63, 63);
}

.error-message {
  position: absolute;
  top: 100%;
  font-size: 0.5rem;
  color: red;
  transform: translateY(-100%);
  opacity: 0;
  z-index: 0;
  transition: all 0.2s ease;
}

.error-maessage::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='1' height='18'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-7v2h2v-2h-2zm0-8v6h2V7h-2z' fill='rgba(255,0,0,1)'/%3E%3C/svg%3E");
  position: absolute;
  left: -20px;
}

input {
  flex: 1;
  border: 1px lightgray solid;
  border-radius: 3px;
  transition: border-color ease 0.2s, box-shadow ease 0.2s;
  z-index: 1;
}

input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 2px 2px 2px lightgrey;
}

input:not([type="password"]):valid {
  border-color: var(--leaf-green);
}

#form .invalid {
  border-color: red;
}

#form input.invalid:placeholder-shown ~ .empty-error {
  transform: translateY(0);
  opacity: 1;
}

#form input.invalid:not(:placeholder-shown) ~ .invalid-input {
  transform: translateY(0);
  opacity: 1;
}

#buttons {
  padding: var(--standard-padding);
}

#buttons #sign-up {
  padding: 0.7rem 1.5rem;
  background-color: var(--leaf-green);
  color: snow;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgrey;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#buttons #sign-up:hover {
  background-color: #435f3e;
}

#buttons #log-in {
  font-size: 0.8rem;
}

a {
  position: relative;
  color: var(--leaf-green);
  text-decoration: none;
}

a::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--leaf-green);
  width: 0%;
  transition: width .1s;
  pointer-events: none;
}

a:hover::after {
  width: 100%;
}

